@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Code+Pro&display=swap');
@import './_variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: 'Poppins';
  font-size: 16px;
  background-color: $background;
}

body {
  margin: 0;
  padding: 0;
}

.disable-scroll {
  overflow: hidden;
}
