@import '../../../../_variables';
@import '../../../../_mixin';

.categories__container {
  width: 95%;
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $primary;

  .categories__container__title {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .categories__container__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }

    .categories__container__body__item {
      width: 100%;
      height: 0px;
      padding-bottom: 60%;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border-radius: 0.5rem;
      z-index: 5;
      color: white;

      .category__item__image {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        transition: all 0.25s ease-out;
        width: 100%;
        height: 100%;
      }

      &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 85%;
        z-index: 10;
        transition: all 0.25s ease-out;
      }

      .category__item__body {
        position: absolute;
        z-index: 15;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 1rem;
        left: 0;
        bottom: 0;

        .category__item__title {
          z-index: 15;
          font-size: 1.5rem;
          transition: all 0.25s ease-out;

          @include md {
            font-size: 2rem;
          }
        }
      }

      &:hover {
        .category__item__image {
          scale: 110%;
        }

        .category__item__title {
          font-size: 1.6rem;

          @include md {
            font-size: 2.125rem;
          }
        }
      }

      &:hover::after {
        opacity: 0;
      }
    }
  }
}
