@import '../../../../../../_mixin';
@import '../../../../../../_variables';

.add__review__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;

  .add__review__area {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    @include sm {
      flex-direction: row;
    }

    .add__review__body {
      display: flex;
      width: 100%;
      flex-grow: 1;
      flex-direction: column;
      gap: 0.5rem;

      .add__review__body__header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        .add__review__body__name {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }

      .add__review__input {
        background: transparent;
        padding: 0.5rem;
        color: white;
        border-radius: 0.5rem;
        outline: none;
        height: 4rem;
        font-family: 'Poppins';
      }
    }

    .add__review__button {
      margin-top: auto;
      width: fit-content;
      height: 4rem;
    }
  }
}
