@import '../../../_variables';

.header__container {
  padding: 1rem 2rem;
  background-color: $background;
  color: white;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.05);

  .header__body {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 95%;
    max-width: 1280px;
    align-items: center;
    justify-content: space-between;

    .header__logo {
      font-size: 2rem;
      font-weight: 400;
      font-family: 'Source Code Pro';
      color: $primary;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      .header__logo__image {
        width: 4rem;
        height: 4rem;
        transform: translateY(2px);
      }
    }

    .header__links__container {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .header__link {
        cursor: pointer;
        position: relative;
        font-weight: 700;
        padding: 0.25rem 0.25rem;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0px;
          transition: all 0.25s ease-out;
          background-color: $primary;
          height: 2px;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }

    .header__account__container {
      display: flex;
      flex-direction: row;
      gap: 1.25rem;
      align-items: center;

      .header__account__text__container {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;

        .header__account__name {
          font-size: 1.25rem;
          line-height: 1.25rem;
        }

        .header__account__email {
          font-size: 0.75rem;
          line-height: 0.75rem;
          font-weight: 800;
          text-transform: lowercase;
          opacity: 60%;
        }
      }

      .header__account__image {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 10rem;
        border: 2px solid $primary;
      }
    }
  }
}
