@import '../_variables';

.layout__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;

  .layout__container__body {
    flex: 1;
    background-color: $background;
  }
}
