@import '../../../_variables';

.button {
  width: 100%;
  padding: 0.7em 1.4em;
  border-radius: 0.5em;
  transition:
    color,
    background-color,
    0.125s ease-out;
  border: none;
  cursor: pointer;
  font-weight: 700;

  &.button--size--small {
    font-size: 0.75rem;
  }

  &.button--size--large {
    font-size: 1.5rem;
  }

  &.button-primary {
    box-sizing: border-box;
    background-color: $primary;
    color: white;

    &:hover {
      --border-size: 2px;
      background: transparent;
      color: $primary;
      border: var(--border-size) solid $primary;
      padding: calc(0.7em - var(--border-size)) calc(1.4em - var(--border-size));
    }
  }

  &.button-tertiary {
    color: $primary;
    background-color: transparent;
    border: 2px solid $primary;

    &:hover {
      background-color: $primary;
      color: white;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.25) !important;
  }

  &:focus {
    outline: none;
  }
}
